#canvas-wrap {  
  display: inline-block;
  position: relative;
  background: #1B1B1B;
  border-radius: 10px;
}

#tree-overlay div {
  position: absolute;  
}

#devilian-skill-planner {
  background: #383838;
  border-radius: 10px;
  width: 1000px;
  padding: 5px;
}

#sidebar-wrap {

}